[Unit]
Description=Rebuild the yearly timelapse videos

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/opt/reolapse
ExecStart=/opt/reolapse/venv/bin/python build_timelapse.py yearly
Nice=10
